{% extends 'reset_password/layout.html.twig' %}
{% trans_default_domain 'admin' %}

{% block content %}
    <h1>{{ 'Password Reset Email Sent'|trans }}</h1>
    <p>
        {{ 'If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.'|trans }}
        {{ 'This link will expire in {expire_info}.'|trans({expire_info: resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}
    </p>
    <p>{{ 'If you don\'t receive an email please check your spam folder or <a href="{forgot_password_url}">try again</a>.'|trans({forgot_password_url: path('app_forgot_password_request')})|raw }}</p>
{% endblock %}
